body {
    margin: 0;
    padding: 0;
    font-family: 'Menlo', 'Monaco', courier, monospace;
}

aside>.scrollbox {
    width: 100%;
    margin: 0;
}

aside {
    position: fixed;
    font-family: 'Menlo', 'Monaco', courier, monospace;
    width: 16%;
    min-width: 135px;
    height: 100%;
    padding-right: 5px;
    background-color: #f9f9f9;
    /* If the sidebar has a scrollbar, there should be some space */
    opacity: 1;
    overflow: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* prevent grey flash when clicking */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
}

aside:hover,
aside:focus,
.show-aside aside {
    opacity: 1;
}

aside a,
.add {
    display: block;
    cursor: pointer;
    outline: none;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}

.add {
    position: relative;
    color: #a7a7a7;
    padding: 18px 18px 4px 18px;
    margin-bottom: 18px;
    font-weight: bold;
}

.add:hover,
.add:focus {
    color: #000;
}


.sidebar {
    display: flex;
    flex-direction: column;
    padding: 4px 18px 4px 18px;
}

.sidebar-elem {
    display: flex;
    height: 30px;
    align-items: center;
}

.sidebar-right {
    margin-left: auto;
    display: flex;
}

.sidebar-elem:hover .icon-wrap {
    display: inline-block;
}

.search-wrap {
    display: flex;
    height: 30px;
    align-items: center;
    margin-bottom: 18px;
}

.title {
    font-weight: normal;
    color: #a7a7a7;
}

.title:hover {
    color: #000000;
}

.title-active {
    color: #000000;
    font-weight: bold;
}

.icon-wrap {
    display: flex;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    color: #a7a7a7;
    display: none;
}

.icon-wrap:hover {
    color: #000000;
}

.icon {
    width: 100%;
    height: 100%;
}

input {
    outline: 0;
    font-family: 'Menlo', 'Monaco', courier, monospace;
    font-size: 16px;
    border-width: 0 0 1px;
    border-color: #a7a7a7;
    background-color: #f9f9f9;
    max-width: calc(100% - 58px);
    margin: 0 0 0 0;
}

input:focus,
input:focus::-webkit-input-placeholder {
    border-color: #000000;
}

.search {
    border-color: #000000 !important;
    background-color:#f9f9f9;
}

.interface {
    position: absolute;
    margin-left: 18%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.interface .input, .interface .output {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border: none;
    margin: 0;
    font-family: 'Menlo', 'Monaco', courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-break: break-word;
}

.interface .input {
    overflow: auto;
    outline: none;
    background: none;
    resize: none;
    padding: 20px;
}

.interface .output {
    overflow: hidden;
    padding: 20px 0;
}

.interface .output div {
    display: block;
    padding: 0 20px;
}

.interface .output div.highlight {
    background-color: #f9f9f9;
}

.interface .output .code {
    color: #E9E9E9;
}

.interface .output .code:before {
    content: attr(data-code);
}

.interface .output .hint:before {
    content: attr(data-prefix);
    color: #E9E9E9;
    white-space: pre;
}

.interface .output .hint {
    z-index: 1;
    position: absolute;
    white-space: pre;
}

.interface .output .help {
    color: silver;
}

.interface .output .result {
    color: silver;
}

.interface .output .error {
    color: red;
}